@page "/view-customer"

@rendermode InteractiveServer

<PageTitle>Cariad | View - Customer Details</PageTitle>

<ScreenHeading PageTitle="View - Customer Details"></ScreenHeading>

<div class="container">
    <div class="row pb-5">
        <div class="col">
            <div class="content-wrap">
                <div class="row">
                    <div class="col-5">
                        <MudChip T="string" Color="@( _customerDetails.IsPbsEmpoloyee ? Color.Success : Color.Error )">PBS Employee</MudChip>
                        <h3 class="pt-2">
                            @_customerDetails.Title @_customerDetails.Forename @_customerDetails.Surname<br />
                            <span class="sub-heading d-block pt-2">@_customerDetails.CustomerNumber</span>
                        </h3>
                        <b>Personal Information</b>
                        <div class="customer-info font-size-small">
                            <div class="info-item d-flex py-2">
                                <span class="label color-dark-gray text-capitalize">Address:</span>
                                <span class="value">@_customerDetails.Street, @_customerDetails.District, @_customerDetails.Town, @_customerDetails.County, @_customerDetails.Postcode</span>
                            </div>
                            <div class="info-item d-flex py-2">
                                <span class="label color-dark-gray text-capitalize">Date of birth:</span>
                                <span class="value">@_customerDetails.DateOfBirth</span>
                            </div>
                            <div class="info-item d-flex py-2">
                                <span class="label color-dark-gray text-capitalize">
                                    NI Number:
                                </span>
                                <span class="value">
                                    @_customerDetails.NationalInsuranceNumber
                                </span>
                            </div>
                            <div class="info-item d-flex py-2">
                                <span class="label color-dark-gray text-capitalize">
                                    Restrictions:
                                </span>
                                <span class="value">
                                    -                                    
                                </span>
                            </div>
                        </div>
                        <b>Contact Information</b>
                        <div class="customer-info font-size-small">
                            <div class="info-item d-flex py-2">
                                <span class="label color-dark-gray text-capitalize">
                                    Email Address:
                                </span>
                                <span class="value">
                                    @_customerDetails.EmailAddress
                                </span>
                            </div>
                            <div class="info-item d-flex py-2">
                                <span class="label color-dark-gray text-capitalize">
                                    Home Phone:
                                </span>
                                <span class="value">
                                    @_customerDetails.HomeTelephoneNumber
                                </span>
                            </div>
                            <div class="info-item d-flex py-2">
                                <span class="label color-dark-gray text-capitalize">
                                    Work Phone:
                                </span>
                                <span class="value">
                                    @_customerDetails.WorkTelephoneNumber
                                </span>
                            </div>
                            <div class="info-item d-flex py-2">
                                <span class="label color-dark-gray text-capitalize">
                                    Mobile Phone:
                                </span>
                                <span class="value">
                                    @_customerDetails.MobileTelephoneNumber
                                </span>
                            </div>
                        </div>
                        <div class="customer-info font-size-small">
                            <b>Contact Preferences</b>
                            <p class="pt-4">
                                <MudIcon Icon="@Icons.Material.Filled.CheckCircleOutline" Color="@( _customerDetails.HasMailshotsAllowed ? Color.Success : Color.Default )" />
                                @(_customerDetails.HasMailshotsAllowed ? $"Customer has agreed to receive mail marketing" : $"Customer has not agreed to receive mail marketing")
                            </p>
                            <p>
                                <MudIcon Icon="@Icons.Material.Filled.CheckCircleOutline" Color="@( _customerDetails.IsEmailsAllowed ? Color.Success : Color.Default )" />
                                @(_customerDetails.IsEmailsAllowed ? $"Customer has agreed to receive e-mail marketing" : $"Customer has not agreed to receive e-mail marketing")
                            </p>
                            <p>
                                <MudIcon Icon="@Icons.Material.Filled.CheckCircleOutline" Color="@( _customerDetails.IsTelephoneAllowed ? Color.Success : Color.Default )" />
                                @(_customerDetails.IsTelephoneAllowed ? $"Customer has agreed to receive telephone marketing" : $"Customer has not agreed to receive telephone marketing")
                            </p>
                            <p>
                                <MudIcon Icon="@Icons.Material.Filled.CheckCircleOutline" Color="@( _customerDetails.IsSmsAllowed ? Color.Success : Color.Default )" />
                                @(_customerDetails.IsSmsAllowed ? $"Customer has agreed to receive sms messages" : $"Customer has not agreed to receive sms messages")
                            </p>
                            <p>
                                <MudIcon Icon="@Icons.Material.Filled.CheckCircleOutline" Color="@( _customerDetails.HasMembersRewards ? Color.Success : Color.Default )" />
                                @(_customerDetails.HasMembersRewards ? $"Customer has agreed to receive membership rewards" : $"Customer has not agreed to receive membership rewards")
                            </p>
                            <p>
                                <MudIcon Icon="@Icons.Material.Filled.CheckCircleOutline" Color="@( _customerDetails.HasWelshMailshows ? Color.Success : Color.Default )" />
                                @(_customerDetails.HasWelshMailshows ? $"Customer has agreed to receive Welsh communication" : $"Customer has not agreed to receive Welsh communication")
                            </p>
                        </div>
                    </div>
                    <div class="col">
                        <MudTabs Outlined="false" Position="@Position.Top" Rounded="true" Border="false" ApplyEffectsToContainer="true" Class="mt-8" PanelClass="pa-6">
                            <MudTabPanel Text="Customer Details" ToolTip="View all customer information">
                                <MudText>

                                </MudText>
                            </MudTabPanel>
                            <MudTabPanel Text="Accounts">
                                <MudText>Current and linked</MudText>
                            </MudTabPanel>
                            <MudTabPanel Text="Secure Messages">
                                <MudText>Content Three</MudText>
                            </MudTabPanel>
                            <MudTabPanel Text="Notes">
                                <MudText>
                                    <MudTable Items="@_dummyNotes" Class="table-striped">
                                        <HeaderContent>
                                            <MudTh>Created</MudTh>
                                            <MudTh>Title</MudTh>
                                            <MudTh>Description</MudTh>
                                            <MudTh>Author</MudTh>
                                        </HeaderContent>
                                        <RowTemplate>
                                            <MudTd>@context.Created</MudTd>
                                            <MudTd>@context.Title</MudTd>
                                            <MudTd>@context.Description</MudTd>
                                            <MudTd>@context.Author</MudTd>
                                        </RowTemplate>
                                    </MudTable>
                                </MudText>
                            </MudTabPanel>
                            <MudTabPanel Text="Online Profile">
                                <MudText>Content Three</MudText>
                            </MudTabPanel>
                        </MudTabs>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    private Cariad.Domain.DTOs.Customer.Cus01 _customerDetails = new Domain.DTOs.Customer.Cus01();
    private IEnumerable<Cariad.Domain.DTOs.Customer.NotesDto> _dummyNotes = Enumerable.Empty<Cariad.Domain.DTOs.Customer.NotesDto>();

    protected override void OnInitialized()
    {
        _customerDetails = SetDummyCustomer();
        _dummyNotes = SetDummyNotes();
    }

    private Cariad.Domain.DTOs.Customer.Cus01 SetDummyCustomer()
    {
        return new Cariad.Domain.DTOs.Customer.Cus01
            {
                CustomerNumber = Guid.NewGuid().ToString("N").Substring(0, 10),
                Title = "Mr",
                Forename = "Homer",
                Surname = "Simpson",
                Initials = "H. S.",
                Nationality = "American",
                OccupationStatus = "Employed",
                Occupation = "Safety Inspector",
                DateOfBirth = "1956-05-12",
                DateOfDeath = "",
                CharityNumber = "",
                SexStatus = "Male",
                DeliveryChannel = "Email",
                NationalInsuranceNumber = "JK999999C",
                MaritalStatus = "Married",
                Source = "TV Show",
                Company = "Springfield Nuclear Power Plant",
                AccountOpeningDate = DateTime.UtcNow.AddYears(-5),
                CharitableAssignement = "",
                MembershipLength = "5 years",
                IsPbsEmpoloyee = false,
                Street = "Evergreen Terrace",
                District = "Unknown District",
                Town = "Springfield",
                County = "West Yorkshire",
                Postcode = "51MP 5ON",
                HomeTelephoneNumber = "01632 960001",
                MobileTelephoneNumber = "07700 900123",
                WorkTelephoneNumber = "01632 960002",
                Fax = "",
                EmailAddress = "homer.simpson@springfieldpower.com",
                MobileAuthorisationDate = DateTime.UtcNow.ToString("yyyy-MM-dd"),
                HasForeignAddress = false,
                IsAddressKnown = true,
                HasMailshotsAllowed = true,
                HasWelshMailshows = false,
                IsEmailsAllowed = true,
                IsTelephoneAllowed = false,
                IsSmsAllowed = false,
                HasMembersRewards = true,
                IsMarketingPreferencesUpToDate = true,
                CountryOfBirth = "USA",
                BirthPlace = "Springfield",
                ResidenceCountryCode = "GB",
                IsTaxResidentOutsideUK = false,
                IsAUSCitizen = false,
                TaxResidencyCountry1 = "GB",
                TinNumber1 = "AB123456C",
                DateCreated = DateTime.UtcNow,
                CreatedBy = "Admin",
                LastUpdated = DateTime.UtcNow,
                LastUpdatedBy = "Admin",
                LastInteractionDate = DateTime.UtcNow
            };
    }

    private IEnumerable<Cariad.Domain.DTOs.Customer.NotesDto> SetDummyNotes()
    {
        return new List<Cariad.Domain.DTOs.Customer.NotesDto>
        {
            new Cariad.Domain.DTOs.Customer.NotesDto
            {
                Title = "Note 1",
                Description = "This is note 1",
                Created = DateTime.UtcNow,
                Author = "Admin"
            },
            new Cariad.Domain.DTOs.Customer.NotesDto
            {
                Title = "Note 2",
                Description = "This is note 2",
                Created = DateTime.UtcNow,
                Author = "Admin"
            },
            new Cariad.Domain.DTOs.Customer.NotesDto
            {
                Title = "Note 3",
                Description = "This is note 3",
                Created = DateTime.UtcNow,
                Author = "Admin"
            }
        };
    }
}
