@page "/view-customer"

@rendermode InteractiveServer

<PageTitle>Cariad | View - Customer Details</PageTitle>

<ScreenHeading PageTitle="View - Customer Details"></ScreenHeading>

<div class="container">
    <div class="row pb-5">
        <div class="col">
            <div class="content-wrap">
                <div class="row">
                    <div class="col">
                        <h3 class="pt-2">@_customerDetails.Title @_customerDetails.Forename @_customerDetails.Surname</h3>
                        <p>
                            <span class="sub-heading d-block pt-2">@_customerDetails.CustomerNumber</span> &bull; @_customerDetails.Street, @_customerDetails.District, @_customerDetails.Town, @_customerDetails.County, @_customerDetails.Postcode
                        </p>

                        <div class="grid-4">
                            <div class="item">
                                <p>
                                    <b>Mobile phone</b><br />
                                    @_customerDetails.MobileTelephoneNumber
                                </p>
                            </div>
                            <div class="item">
                                <p>
                                    <b>Home phone</b><br />
                                    @_customerDetails.HomeTelephoneNumber
                                </p>
                            </div>
                            <div class="item">
                                <p>
                                    <b>Work phone</b><br />
                                    @_customerDetails.WorkTelephoneNumber
                                </p>
                            </div>
                            <div class="item">
                                <p>
                                    <b>Fax Phone</b><br />
                                    @_customerDetails.Fax
                                </p>
                            </div>
                        </div>
                        <div class="grid-4">
                            <div class="item">
                                <p>
                                    <b>NI Number</b><br />
                                    @_customerDetails.NationalInsuranceNumber
                                </p>
                            </div>
                            <div class="item">
                                <p>
                                    <b>Date of birth</b><br />
                                    @_customerDetails.DateOfBirth
                                </p>
                            </div>
                            <div class="item">
                                <p>
                                    <b>Restrictions</b><br />
                                    -
                                </p>
                            </div>
                            <div class="item">
                                <p>
                                    <b>Email address</b><br />
                                    @_customerDetails.EmailAddress
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="content-wrap mt-4">
                <div class="row">
                    <div class="col">
                        <MudTabs Outlined="false" Position="@Position.Top" Rounded="true" Border="false" ApplyEffectsToContainer="true" PanelClass="pt-4">
                            <MudTabPanel Text="Overview">
                                <MudText>
                                    <div class="mb-4">
                                        <h4>Savings accounts</h4>
                                        <ViewSavingsAccountsSummary></ViewSavingsAccountsSummary>
                                    </div>
                                    <div class="mb-4">
                                        <h4>Mortgage accounts</h4>
                                        <ViewMortagageAccountsSummary></ViewMortagageAccountsSummary>
                                    </div>
                                </MudText>
                            </MudTabPanel>
                            <MudTabPanel Text="Customer Details">
                                <MudText>
                                    <div class="row">
                                        <div class="col-8">
                                            <div class="mb-4">
                                                <h5>Relationship with Society details</h5>
                                                <div class="grid-5">
                                                    <div class="item">
                                                        <p>
                                                            <b>Membership length</b><br />
                                                            @_customerDetails.MembershipLength
                                                        </p>
                                                    </div>
                                                    <div class="item">
                                                        <p>
                                                            <b>Charitable assignment</b><br />
                                                            @_customerDetails.CharitableAssignement
                                                        </p>
                                                    </div>
                                                    <div class="item">
                                                        <p>
                                                            <b>1st account opening date</b><br />
                                                            @_customerDetails.AccountOpeningDate
                                                        </p>
                                                    </div>
                                                    <div class="item">
                                                        <p>
                                                            <b>Creation date</b><br />
                                                            @_customerDetails.DateCreated
                                                        </p>
                                                    </div>
                                                    <div class="item">
                                                        <p>
                                                            <b>Record added by</b><br />
                                                            @_customerDetails.CreatedBy
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="grid-5">
                                                    <div class="item">
                                                        <p>
                                                            <b>Last updated date</b><br />
                                                            @_customerDetails.LastUpdated
                                                        </p>
                                                    </div>
                                                    <div class="item">
                                                        <p>
                                                            <b>PBS employee indicator</b><br />
                                                            @(_customerDetails.IsPbsEmpoloyee ? "Yes" : "No")
                                                        </p>
                                                    </div>
                                                    <div class="item">
                                                        <p>
                                                            <b>E-ID</b><br />
                                                            Passed
                                                        </p>
                                                    </div>
                                                    <div class="item">
                                                        <p>
                                                            <b>Source</b><br />
                                                            @_customerDetails.Source
                                                        </p>
                                                    </div>
                                                    <div class="item">
                                                        <p>
                                                            <b>Delivery channel</b><br />
                                                            @_customerDetails.DeliveryChannel
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mb-4">
                                                <h5>More details</h5>
                                                <div class="grid-4">
                                                    <div class="item">
                                                        <p>
                                                            <b>Nationality</b><br />
                                                            @_customerDetails.Nationality
                                                        </p>
                                                    </div>
                                                    <div class="item">
                                                        <p>
                                                            <b>Country of birth</b><br />
                                                            @_customerDetails.CountryOfBirth
                                                        </p>
                                                    </div>
                                                    <div class="item">
                                                        <p>
                                                            <b>City of birth</b><br />
                                                            @_customerDetails.BirthPlace
                                                        </p>
                                                    </div>
                                                    <div class="item">
                                                        <p>
                                                            <b>Date of death</b><br />
                                                            @_customerDetails.DateOfDeath
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="grid-4">
                                                    <div class="item">
                                                        <p>
                                                            <b>Sex/Status</b><br />
                                                            @_customerDetails.SexStatus
                                                        </p>
                                                    </div>
                                                    <div class="item">
                                                        <p>
                                                            <b>Marital status</b><br />
                                                            @_customerDetails.MaritalStatus
                                                        </p>
                                                    </div>
                                                    <div class="item">
                                                        <p>
                                                            <b>Occupation</b><br />
                                                            @_customerDetails.Occupation
                                                        </p>
                                                    </div>
                                                    <div class="item">
                                                        <p>
                                                            <b>Company</b><br />
                                                            @_customerDetails.Company
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="grid-4 mb-2">
                                                    <div class="item">
                                                        <p>
                                                            <b>Charity Number</b><br />
                                                            @_customerDetails.CharityNumber
                                                        </p>
                                                    </div>
                                                    <div class="item">
                                                        <p>
                                                            <b>Citizen of the USA</b><br />
                                                            @_customerDetails.IsAUSCitizen
                                                        </p>
                                                    </div>
                                                    <div class="item">
                                                        <p>
                                                            <b>Foreign Address</b><br />
                                                            @_customerDetails.HasForeignAddress
                                                        </p>
                                                    </div>
                                                    <div class="item">
                                                        <p>
                                                            <b>Unknown address</b><br />
                                                            @_customerDetails.IsAddressKnown
                                                        </p>
                                                    </div>
                                                </div>
                                                <p>
                                                    <b class="text-capitalize">Tin details and tax residency</b>
                                                </p>
                                                <div class="grid-4">
                                                    <div class="item">
                                                        <p>
                                                            <b>Tax resident other than uk</b><br />
                                                            @_customerDetails.IsTaxResidentOutsideUK
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="grid-3">
                                                    <div class="item">
                                                        <p>
                                                            <b>Tax residency 1</b><br />
                                                            @_customerDetails.TaxResidencyCountry1
                                                        </p>
                                                    </div>
                                                    <div class="item">
                                                        <p>
                                                            <b>Tax residency 2</b><br />
                                                            @_customerDetails.TaxResidencyCountry2
                                                        </p>
                                                    </div>
                                                    <div class="item">
                                                        <p>
                                                            <b>Tax residency 3</b><br />
                                                            @_customerDetails.TaxResidencyCountry3
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="grid-3">
                                                    <div class="item">
                                                        <p>
                                                            <b>Tax res. 1 TIN number</b><br />
                                                            @_customerDetails.TinNumber1
                                                        </p>
                                                    </div>
                                                    <div class="item">
                                                        <p>
                                                            <b>Tax res. 2 TIN number</b><br />
                                                            @_customerDetails.TinNumber2
                                                        </p>
                                                    </div>
                                                    <div class="item">
                                                        <p>
                                                            <b>Tax res. 3 TIN number</b><br />
                                                            @_customerDetails.TinNumber3
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <h5>Preferences</h5>
                                            <div class="grid-3">
                                                <div class="item">
                                                    <p class="fw-bold">
                                                        Actions
                                                    </p>
                                                </div>
                                                <div class="item"></div>
                                                <div class="item">
                                                    <p class="fw-bold">
                                                        Last Update
                                                    </p>
                                                </div>
                                                <div class="item">
                                                    <p>
                                                        Mail marketing
                                                    </p>
                                                </div>
                                                <div class="item">
                                                    <p>
                                                        @(_customerDetails.HasMailshotsAllowed ? "Yes" : "No")
                                                    </p>
                                                </div>
                                                <div class="item">
                                                    <p>
                                                        01/01/2020
                                                    </p>
                                                </div>
                                                <div class="item">
                                                    <p>
                                                        Email marketing
                                                    </p>
                                                </div>
                                                <div class="item">
                                                    <p>
                                                        @(_customerDetails.IsEmailsAllowed ? "Yes" : "No")
                                                    </p>
                                                </div>
                                                <div class="item">
                                                    <p>
                                                        01/01/2020
                                                    </p>
                                                </div>
                                                <div class="item">
                                                    <p>
                                                        Telephone marketing
                                                    </p>
                                                </div>
                                                <div class="item">
                                                    <p>
                                                        @(_customerDetails.IsTelephoneAllowed ? "Yes" : "No")
                                                    </p>
                                                </div>
                                                <div class="item">
                                                    <p>
                                                        01/01/2020
                                                    </p>
                                                </div>
                                                <div class="item">
                                                    <p>
                                                        SMS marketing
                                                    </p>
                                                </div>
                                                <div class="item">
                                                    <p>
                                                        @(_customerDetails.IsSmsAllowed ? "Yes" : "No")
                                                    </p>
                                                </div>
                                                <div class="item">
                                                    <p>
                                                        01/01/2020
                                                    </p>
                                                </div>
                                                <div class="item">
                                                    <p>
                                                        Member rewards
                                                    </p>
                                                </div>
                                                <div class="item">
                                                    <p>
                                                        @(_customerDetails.HasMembersRewards ? "Yes" : "No")
                                                    </p>
                                                </div>
                                                <div class="item">
                                                    <p>
                                                        01/01/2020
                                                    </p>
                                                </div>
                                                <div class="item">
                                                    <p>
                                                        Welsh communication
                                                    </p>
                                                </div>
                                                <div class="item">
                                                    <p>
                                                        @(_customerDetails.HasWelshMailshows ? "Yes" : "No")
                                                    </p>
                                                </div>
                                                <div class="item">
                                                    <p>
                                                        01/01/2020
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </MudText>
                            </MudTabPanel>
                            <MudTabPanel Text="Secure Messages">
                                <MudText>
                                    <ViewSecureMessages></ViewSecureMessages>
                                </MudText>
                            </MudTabPanel>
                            <MudTabPanel Text="Letters">
                                <MudText>
                                    <p>
                                        No items to show…
                                    </p>
                                </MudText>
                            </MudTabPanel>
                            <MudTabPanel Text="Linked Accounts">
                                <MudText>
                                    <p>
                                        No items to show…
                                    </p>
                                </MudText>
                            </MudTabPanel>
                            <MudTabPanel Text="Notes" Class="d-none">
                                <MudText>
                                    <Cariad.UINoAuth.Components.Shared.ViewNotes Notes="_dummyNotes"></Cariad.UINoAuth.Components.Shared.ViewNotes>
                                </MudText>
                            </MudTabPanel>
                            <MudTabPanel Text="Online Profile">
                                <MudText> 
                                    <p>
                                        No items to show…
                                    </p>
                                </MudText>
                            </MudTabPanel>
                            <MudTabPanel Text="Profile Activity">
                                <MudText>
                                    <p>
                                        No items to show…
                                    </p>
                                </MudText>
                            </MudTabPanel>
                        </MudTabs>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    private Cariad.Domain.DTOs.Customer.Cus01 _customerDetails = new Domain.DTOs.Customer.Cus01();
    private IEnumerable<Cariad.Domain.DTOs.Customer.NotesDto> _dummyNotes = Enumerable.Empty<Cariad.Domain.DTOs.Customer.NotesDto>();

    protected override void OnInitialized()
    {
        _customerDetails = SetDummyCustomer();
        _dummyNotes = SetDummyNotes();
    }

    private Cariad.Domain.DTOs.Customer.Cus01 SetDummyCustomer()
    {
        return new Cariad.Domain.DTOs.Customer.Cus01
            {
                CustomerNumber = Guid.NewGuid().ToString("N").Substring(0, 10),
                Title = "Mr",
                Forename = "Homer",
                Surname = "Simpson",
                Initials = "H. S.",
                Nationality = "American",
                OccupationStatus = "Employed",
                Occupation = "Safety Inspector",
                DateOfBirth = "1956-05-12",
                DateOfDeath = "",
                CharityNumber = "",
                SexStatus = "Male",
                DeliveryChannel = "Email",
                NationalInsuranceNumber = "JK999999C",
                MaritalStatus = "Married",
                Source = "TV Show",
                Company = "Springfield Nuclear Power Plant",
                AccountOpeningDate = DateTime.UtcNow.AddYears(-5),
                CharitableAssignement = "",
                MembershipLength = "5 years",
                IsPbsEmpoloyee = false,
                Street = "Evergreen Terrace",
                District = "Unknown District",
                Town = "Springfield",
                County = "West Yorkshire",
                Postcode = "51MP 5ON",
                HomeTelephoneNumber = "01632 960001",
                MobileTelephoneNumber = "07700 900123",
                WorkTelephoneNumber = "01632 960002",
                Fax = "",
                EmailAddress = "homer.simpson@springfieldpower.com",
                MobileAuthorisationDate = DateTime.UtcNow.ToString("yyyy-MM-dd"),
                HasForeignAddress = false,
                IsAddressKnown = true,
                HasMailshotsAllowed = true,
                HasWelshMailshows = false,
                IsEmailsAllowed = true,
                IsTelephoneAllowed = false,
                IsSmsAllowed = false,
                HasMembersRewards = true,
                IsMarketingPreferencesUpToDate = true,
                CountryOfBirth = "USA",
                BirthPlace = "Springfield",
                ResidenceCountryCode = "GB",
                IsTaxResidentOutsideUK = false,
                IsAUSCitizen = false,
                TaxResidencyCountry1 = "GB",
                TinNumber1 = "AB123456C",
                DateCreated = DateTime.UtcNow,
                CreatedBy = "Admin",
                LastUpdated = DateTime.UtcNow,
                LastUpdatedBy = "Admin",
                LastInteractionDate = DateTime.UtcNow
            };
    }

    private IEnumerable<Cariad.Domain.DTOs.Customer.NotesDto> SetDummyNotes()
    {
        return new List<Cariad.Domain.DTOs.Customer.NotesDto>
        {
            new Cariad.Domain.DTOs.Customer.NotesDto
            {
                Title = "Note 1",
                Description = "This is note 1",
                Created = DateTime.UtcNow,
                Author = "Admin"
            },
            new Cariad.Domain.DTOs.Customer.NotesDto
            {
                Title = "Note 2",
                Description = "This is note 2",
                Created = DateTime.UtcNow,
                Author = "Admin"
            },
            new Cariad.Domain.DTOs.Customer.NotesDto
            {
                Title = "Note 3",
                Description = "This is note 3",
                Created = DateTime.UtcNow,
                Author = "Admin"
            }
        };
    }
}
